html {
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 60px auto;
}

li,
h1,
nav {
    display: inline-block;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
}

li {
    margin: 20px;
    background-color: white;
}

a {
    text-decoration: none;
    color: yellowgreen;
}