@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap');
body {
    margin: 0;
    background-color: #FFFFED;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 20px;
    max-height: 1000px;
    margin: 0 auto;
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    margin-right: 60px;
}

.nav-list-item a {
    text-decoration: none;
    margin: 20px 8px;
    color: purple;
}

.nav-list-item {
    text-decoration: none;
    list-style-type: none;
}

.nav-logo {
    width: 120px;
    margin-left: 60px;
}

.nav-logo img {
    width: 100%;
}

.programs {
    background-color: #54536f;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.programs-title {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 100%;
}

.program {
    background-color: white;
    border-radius: 10px;
    width: 25%;
    margin: 25px;
    max-width: 450px;
    background-color: #FFFFED;
}

.program-title {
    font-size: 25px;
    color: #54536f;
}

.program-cta {
    padding: 10px 25px;
    border-radius: 30px;
    color: whitesmoke;
    background-color: purple;
    border: 0 solid purple;
    text-transform: uppercase;
    font-weight: bolder
}

.program-footer {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(33, 217, 12, 1) 0%, rgba(156, 252, 69, 0.7539390756302521) 100%);
}

.program-footer-fundamentals {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(110, 119, 109, 1) 0%, rgba(69, 143, 252, 1) 100%);
}

.program-footer-profesional {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(114, 109, 119, 1) 0%, rgba(188, 69, 252, 0.8827906162464986) 83%);
}

.program-subtitle {
    padding: 20px;
}

.pragram-footer-title,
.online-title {
    padding-top: 10px;
}

.program-footer-fundamentals,
.program-footer-profesional {
    display: flex;
}

.program-footer-online {
    border-right: 1px solid white;
}