body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

section {
    display: flex;
    height: 25vh;
    width: 65vw;
}

article {
    margin: 5px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dve {
    flex-shrink: 1;
}

article {
    flex-shrink: 3;
}