* {
    box-sizing: border-box;
}

.container {
    max-width: 65vw;
    margin: 80px auto;
}

span {
    border: 1px solid black;
    padding: 15px 15px 70px 15px;
}

.notes {
    flex-direction: column;
}

div,
section {
    display: flex;
    justify-content: space-between;
}

.week {
    flex-wrap: wrap;
}

.Workweek,
.Weekend {
    flex-basis: 100%;
}

.REMINDER,
.Special-Dates {
    flex-grow: 1;
}

.Saturday,
.Sunday {
    flex-grow: 1;
}

.Monday,
.Tuesday,
.Wednesday,
.Thrusday,
.Friday {
    font-size: 12px;
    flex-grow: 1;
    padding-bottom: 56px;
}

span {
    text-align: center;
}

.week {
    flex-grow: 4;
}

.notes {
    flex-grow: 1;
}